/* Margin = espace
Margin-top = espace au dessus
Padding = espace interne
background-color = fond
border = bordure, "None"
border-radius = arrondir coins
cursor = changer curseur au survol
font-size = changer taille texte
font-style : italic = sébonnn
<ul> : liste ordonnée à points
*/

body {
  position: relative;
  margin: 0;
  margin-left: 0vw;
  font-family: Arial, sans-serif;
  background-color: #E4F1FF;
  width: 100%;
  padding: 0vw;
}

#root{
  width: 100vw;
}

/* Conteneur principal qui centre le contenu */
.container {
  text-align: center;
}

/*  Section principale (bannière)  */
.hero {
  background-color: #AED2FF;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 0vw;
}

/*  Titre principal de la section hero  */
.hero h1 {
  margin-top: 0vw;
  font-size: calc(14px + 1.5vw);
}

.games-section h2{
  font-size: calc(14px + 1vw);
}
/*  Texte secondaire en italique, genre "Non c'est pas pompé sur TVTime  */
.subtext {
  font-size: calc(14px + 0.7vw);
  font-style: italic;
}

/* Pour la liste à point */
.hero ul {
  font-size: calc(14px + 1vw);
  text-align: left; /* Aligner le texte à gauche */
  padding-left: calc(14px + 2vw); /* Ajuster l'espace entre le bord et les puces */
  margin: 0 auto; /* Centrer la liste tout en gardant le texte à gauche */
  /*display: inline-block;*/ /* Évite que la liste prenne toute la largeur */
}

/*  Bouton d'inscription/connexion  */
.btn {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  color: #dddddd;
  background-color: #9400FF;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: calc(14px + 0.7vw);
}

/*  Section contenant les jeux  */
.games-section {
  margin: 10;
}

/*  Pied de page  */
.footer {
  position: relative;
  width: 100vw;
  background-color: #1a0339;
  color: white;
  margin-top: 2vw; /* Ajoute un espace entre la section précédente et le footer */
  font-size: calc(7px + 1.5vw);
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.footer p {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
