/*  Grille des jeux (alignement des cartes de jeu)  */
.games-grid {
    flex-direction: row;
    display: flex; /* Utilise Flexbox pour aligner les jeux */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 2vw; /* Ajoute un espace entre les cartes */
    margin-bottom: 2vw; /* Ajoute un espace sous la grille */
}

/*  Carte individuelle pour un jeu  */
.game-card {
    display: flex;
    position: relative;
    flex-direction: row;
    width: calc(70px + 10vw);
    background-color: lightgray;
    border-radius: 2vw; /* Coins arrondis */
}


@media screen and (max-width:600px){
    .lastcard{
        display: none;
    }
    .game-card{
        width: calc(70px + 15vw);
    }
}

@media screen and (max-width:350px){
    .midcard{
        display: none;
    }
    .game-card{
        width: calc(70px + 20vw);
    }
}