/* Header.css */
.header {
    font-size: calc(14px + 1.5vw);
    position: relative;
    padding: 0;
    background-color: #60B5FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;  /* Positionne le header tout en haut */
    left: 0; /* Colle le header au bord gauche */
    right: 0; /* Colle le header au bord droit */
}
.header.horror {
    background-color: #900909;
  }

.header.action {
    background-color: #60330a;
  }

.header.action {
    background-color: #60330a;
  }

/* Navigation dans l’en-tête */
.header nav {
    margin: 1.5vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 100%;
}

/* logo */
.logo{
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-size: calc(14px + 2.5vw);
}

/* Champ de recherche */
.search {
    padding: 0;
    margin: 0;
    border-radius: calc(4px + 0.5vw);
    border: none;
    font-size: calc(14px + 1vw);
    width: 100%;
}

/*  Bouton d'inscription/connexion  */
.btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    color: #dddddd;
    background-color: #9400FF;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: calc(10px + 0.vw);
  }