/* Header.css */
.header {
    font-size: calc(14px + 1.5vw);
    position: relative;
    padding: 0;
    background-color: #60B5FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;  /* Positionne le header tout en haut */
    left: 0; /* Colle le header au bord gauche */
    right: 0; /* Colle le header au bord droit */
}
.header.horror {
    background-color: #900909;
  }

.header.action {
    background-color: #60330a;
  }
.header.fps {
    background-color: #4f4e4e;
  }

.header.sandbox {
    background-color: #056b00;
  }
.header.moba {
    background-color: #b87d10;
  }
.header.rpg {
    background-color: #00ae94;
  }

/* Navigation dans l’en-tête */
.header nav {
    margin: 1.5vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 100%;
}

/* logo */
.logo img{
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: calc(14px + 2.5vw);
    width: 5vw;
}



/* Champ de recherche */
.search {
    padding: 0;
    margin: 0;
    border-radius: calc(4px + 0.5vw);
    border: none;
    font-size: calc(14px + 1vw);
    width: 100%;
}

/* Liens (Home, Profil) */
.header a {
    color: white; /* Couleur blanche pour les liens */
    text-decoration: none; /* Enlever le soulignement */
    font-family: 'Arial', sans-serif; /* Police personnalisée */
    font-size: calc(8px + 1.5vw); /* Ajuster la taille de la police */
    transition: color 0.3s ease; /* Transition douce au survol */
    white-space: nowrap;
}

.header a:hover {
    color: #9400FF; /* Changer la couleur au survol */
}

/* Profil sans bordure autour */
.profile {
    color: white; /* Couleur du texte */
    text-decoration: none; /* Enlever le soulignement */
    font-family: 'Arial', sans-serif; /* Police personnalisée */
    font-size: calc(12px + 1vw); /* Ajuster la taille de la police */
    padding: 0; /* Enlever les bordures */
    border: none; /* Enlever toute bordure autour de "Profil" */
    cursor: pointer; /* Ajouter un curseur pointer */
}

/*  Bouton d'inscription/connexion  */
.btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    color: #dddddd;
    background-color: #9400FF;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1vw;
    width: 14vw; 
    height: 3vw; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    white-space: nowrap; /* Empêcher que le texte dépasse ou s'affiche sur plusieurs lignes */
    min-width: 120px; 
    min-height: 35px;
}
