#fenetre{
    display: flex;
    text-align: center;
    align-items: stretch; /* Aligner en haut */
    justify-content: start; /* Aligner à gauche */
    flex-direction: column;
    padding: 0;
    border-radius: 0;
}

#titreinfos{
    margin: calc(14px + 2vw);
}

.avatar{
    margin: calc(14px + 10vw) calc(14px + 3vw) 0 calc(14px + 3vw);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
}

.infos{
    position: relative;
    overflow: hidden;
    width: 80%;
    line-height: 0.4;
    background-color: #e5e5e5;
    border: solid calc(2px + 0.5vw) #000000;
    border-radius: calc(14px + 2vw);
    margin-top: calc(14px + 10vw);
    margin-right: calc(14px + 3vw);
}

.presentation {
    padding-bottom: 3vw;
    background-color: #AED2FF;
    font-size: calc(14px + 1.5vw);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Aligner en haut */
    justify-content: left; /* Aligner à gauche */
}

.avatar2{
    margin: calc(14px + 10vw) calc(14px + 3vw) 0 calc(14px + 3vw);
    display: flex;
    flex-direction: column;
    align-self: auto;
    align-items: center;
}

.avatar2 p {
    margin-bottom: 0;
}






@media screen and (min-width: 601px){
    .avatar2{
        display: none;
    }
}


@media screen and (max-width: 600px){
    .presentation{
        flex-direction: column;
        align-items: center;
    }
    .avatar{
        display: none;
    }
    .infos{
        flex-grow: 2;
        margin-right: 0;
        margin-top: calc(7px + 5vw);
        margin-bottom: calc(7px + 5vw);
    }
}