body {
    font-family: Arial, sans-serif;
    background-color: #E4F1FF; /* Bleu clair */
}

/*Searchbar*/

.searchbar {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #AED2FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.searchbar h1 {
    font-family: 'Handjet', cursive;
    font-size: 60px;
    margin: 0;
}
.searchbar input {
    display: inline-block;
    font-family: 'Handjet', cursive;
    width: 400px;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 0; 
}

.searchbar button {
    font-family: 'Handjet', cursive;
    font-size: 20px;
    border: 1px solid black;
    background-color: #E4F1FF;
    border-radius: 5px;
    margin: 10px;
}





.boxgame{
    font-size: 15px;
    font-family: 'Handjet', cursive;
    background-color: #E4F1FF;
    width: 100%;
}

.boxgame:hover,
.boxgame:focus {
  border: 4px solid #000000;
  border-radius: 15px;
}




.theme-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
}

.themebox{
    position: relative;
    display: flex;
    font-size: 40px;
    font-family: 'Handjet', cursive;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 150px;
    flex: 0 0 250px;
    margin: 10px;
    background: #E4F1FF;
    z-index: 0;
    overflow: hidden;
    transition: color 0.3s ease;
}

.themebox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease;
    z-index: -1;
  }
  .themebox.horror::before  {
    background-color: rgba(244,3,3,1);
  }
  .themebox.action::before  {
    background-color:  rgba(137,78,25,1);
  }
  .themebox.adventure::before  {
    background-color:rgba(0,120,255,1);
  }
  .themebox.moba::before  {
    background-color:rgba(218,165,32,1);
  }
  .themebox.fps::before  {
    background-color:rgba(121,130,128,1);
  }
  .themebox.sandbox::before  {
    background-color:rgba(83,198,20,1);
  }
  .themebox.rpg::before  {
    background-color:rgba(109,255,230,1);
  }
  
  .themebox:hover::before,
  .themebox:focus::before {
    width: 300%;
    height: 300%;
  }
  
  .themebox:hover,
  .themebox:focus {
    color: white;
  }







.result-container{
    display:flex;
}

.filter-container{
    font-family: 'Handjet', cursive;
    font-size: 16px;
    flex: 0 0 200px;
}
