
body {
    position: relative;
    margin: 0;
    margin-left: 0vw;
    font-family: Arial, sans-serif;
    background-color: #E4F1FF;
    width: 100%;
    padding: 0vw;
  }

.theme-container {
    text-align: center;
}

.theme-container.horror {
  background-color: #ffd1d1;
}
.theme-container.fighting {
  background-color: #d3a881;
}
.theme-container.moba{
  background-color: #ffd876;
}
.theme-container.shooter{
  background-color: #bdbdbd;
}
.theme-container.rpg{
  background-color: #b9faef;
}
.theme-container.simulator{
  background-color: #b8ff92;
}

.title-theme {
    position: relative;
    width: 100%;
    display: flex;
    /*background-color: #9400FF;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 300px;
    overflow: hidden;
  }

.title-theme  h1{
    font-family: 'Handjet', cursive;
    font-size: 100px;
    z-index: 20;
}
.title-theme.horror {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(244,3,3,1) 58%, rgba(0,212,255,0) 80%),url('../img/horror.jpg');
}
.title-theme.fighting {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(137,78,25,1) 60%, rgba(0,212,255,0) 80%),url('../img/fighting.jpg');
}
.title-theme.adventure {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,120,255,1) 64%, rgba(0,212,255,0) 80%),url('../img/adventure.jpg');
}
.title-theme.rpg {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%,rgba(109,255,230,1) 68%, rgba(0,212,255,0) 100%),url('../img/rpg.jpg');
}
.title-theme.shooter {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(121,130,128,1) 68%, rgba(0,212,255,0) 80%),url('../img/shooter.jpg');
}
.title-theme.moba {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(218,165,32,1) 68%, rgba(0,212,255,0) 80%),url('../img/moba.jpg');
}
.title-theme.simulator {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(83,198,20,1) 64%, rgba(0,212,255,0) 80%),url('../img/simulator.jpg');
}

  .games-section {
    margin: 10;
  }

  .games-section h2{
    font-size: calc(14px + 1vw);
    font-family: 'Handjet', cursive;
  }

