/* Header.css */
.header {
    font-size: calc(14px + 3vw);
    position: relative;
    padding: 0;
    background-color: #1a0339;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;  /* Positionne le header tout en haut */
    left: 0; /* Colle le header au bord gauche */
    right: 0; /* Colle le header au bord droit */
}

/* Navigation dans l’en-tête */
.header nav {
    margin: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 100%;
}

/* logo */
.logo{
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-size: calc(14px + 4vw);
}

/* Champ de recherche */
.search {
    padding: 0;
    margin: 0;
    border-radius: calc(4px + 0.5vw);
    border: none;
    font-size: calc(14px + 2vw);
    width: 100%;
}

/* Ajouter un espace en haut de la section qui suit le header */
.container {
    width: 100%;
}
