/* Header.css */
.header {
    font-size: 5vw;
    position: relative;
    padding: 0;
    background-color: #1a0339;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;  /* Positionne le header tout en haut */
    left: 0; /* Colle le header au bord gauche */
    right: 0; /* Colle le header au bord droit */
}

/* Navigation dans l’en-tête */
.header nav {
    margin: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}

/* logo */
.logo{
    margin-left: 3vw;
    font-size: 7vw;
}

/* Champ de recherche */
.search {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none;
    font-size: 3vw;
}

/* Ajouter un espace en haut de la section qui suit le header */
.container {
    padding-top: 80px; /* Compense la hauteur du header fixé */
}
