/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #E4F1FF; /* Bleu clair */
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#fenetre_login {
    background-color: #AED2FF;
    display: flex;
    align-items: stretch; /* Aligner en haut */
    justify-content: center; /* Aligner à gauche */
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 3vw;
}

.formulaire {
    display: flex;
    flex-direction: column;
    margin: 0vw 7vw;
    justify-content: flex-start; /* Garder le contenu en haut */
}

.formulaire h3 {
    text-align: center;
    font-size: 22px;
    width: 100%;
}

.formulaire ul {
    list-style-type: none;
    padding: 0;
}

/* Champs de formulaire */
.formulaire input {
    width: 100%;
    margin: 0.5vw 3vw;
    border: 1px solid #E4F1FF;
    border-radius: 5px;
    outline: none;
}

/* Boutons */
input[type="submit"] {
    background-color: #9400FF; /* Violet flashy */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin: 5vw 0vw;
    box-shadow: 2px 2px 5px black;
}

input[type="submit"]:hover {
    background-color: #5B2880;
}

.separator {
    margin: 0vw 6vw;
    border: 2px solid black; /* Bordure temporaire pour voir si la div existe */
}

.oubli {
    width: 100%; /* Aligné avec les inputs */
    text-align: right; /* Place le texte à droite */
}

.oubli a {
    font-size: 10px; /* Réduit la taille du texte */
}

.oubli a:hover {
    text-decoration: underline; /* Effet au survol */
    text-decoration: none; /* Enlève le soulignement */
}
