#fenetre{
    background-color: #AED2FF;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch; /* Aligner en haut */
    justify-content: start; /* Aligner à gauche */
    flex-direction: column;
    padding: 0;
    border-radius: 0;
}

.presentation {
    position: relative;
    display: flex;
    align-items: stretch; /* Aligner en haut */
    justify-content: left; /* Aligner à gauche */
}